@model List<uchange.Models.ItemDB>

@{
    ViewBag.Title = "My";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
        <h1>My Requests</h1>
        <p />
        <ul class="nav nav-tabs nav-stacked">
            @foreach (var each in Model)
            {
                <li><a href="/item/detail/@each.id">@each.name</a></li>
            }
        </ul>
        </div>
    </div>
</div>