@{
    ViewBag.Title = "About Us";
}

<h2>Init Item</h2>
@using (Html.BeginForm())
{
    <p>Item Name: <input type="text" name="item_name" /></p>
    <p>Item Description:</p>
    <textarea name="item_description"></textarea>
    <input type="submit" value="submit" />
}