<!DOCTYPE html>
@{
    ViewBag.Title = "About Us";
}

<html>
<head>
    <title>UChange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-color: #F2F5FF;
        }

        .field {
            background-color: #FCFCFA;
            margin: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-radius: 20px;
            -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        }

        div {
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container" align="center">
    <div class="row" style="margin-top: 40px">
        <div class="col-md-2"></div>
        <div class="col-md-8 field">
            <h2><img src="@Url.Content("~/Content/images/logo-small.png")" style="margin-right: 40px">Add Item</h2>
            <br/>
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-3" align="right">
                        <p><strong>Item Name:</strong></p>
                    </div>
                    <div class="col-md-7" align="left">
                        <input type="text" name="name" />
                    </div>
                </div>
                <p />
                <div class="row">
                    <div class="col-md-3" align="right">
                        <p><strong>Item Description:</strong></p>
                    </div>
                    <div class="col-md-7" align="left">
                        <textarea rows="20" cols="20" name="description" style="width:100%"></textarea>
                    </div>
                </div>
                
                <div class="row">
                    <br />
                    <button type="submit" class="btn submit btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>
</body>
</html>