@model uchange.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}

<html>
<head>
    <title>UChange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-color: #F2F5FF;
        }

        .field {
            background-color: #FCFCFA;
            margin: 20px;
            padding: 40px;
            border-radius: 20px;
            -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="container" align="center">
    <div class="row-fluid" style="margin-top: 40px">
        <img src="@Url.Content("~/Content/images/logo.png")" />

        <p/>

        <div class="col-md-3"></div>
        <div class="col-md-6 field">
        @using (Html.BeginForm())
        {
            <div class="col-md-8 col-md-offset-2">
                <p><input type="text" class="form-control" name="username" placeholder="username"/></p>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <p><input type="password" class="form-control" name="password" placeholder="password"/></p>
            </div>
            
            <button type="submit" class="btn submit btn-primary" style="margin-right: 30px;margin-top: 15px">Login</button>
            <button class="btn" type="button" style="margin-left: 30px;margin-top: 15px">
                <a href="/account/register" style="text-decoration:none">Sign Up</a>
            </button>
        }
        </div>
    </div>
</div>
</body>
</html>