@model IEnumerable<uchange.Models.ItemDB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
        <h1>Items</h1>
        <p />
        <ul class="nav nav-tabs nav-stacked">
            @foreach (var item in Model)
            {
                if (item.id!=@ViewBag.item_now)
                {
                    <li><a href="/item/detail/@item.id">@item.name</a></li>
                }
            }
        </ul>
        </div>
    </div>
</div>